@import url("//db.onlinewebfonts.com/c/8e1f2a0617863e3914ef2ccdab13480c?family=Centaur");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

.medical-tourism-info-main-heading {
    font-size: 40px;
    font-family: 'Centaur';
    font-weight: bolder;
}