.card-series-1, .card-series-2 {
    display: flex;
    gap: 100px;
}

.medical-center-heading {
    font-size: 40px;
    font-family: 'Centaur';
    font-weight: bolder;
}

.medical-center-subheading {
    font-family: 'Poppins';
}